PRETALX_VOLUME_DATA=./.state/data
PRETALX_VOLUME_PUBLIC=./.state/public
PRETALX_VOLUME_POSTGRES=./.state/postgres
PRETALX_VOLUME_REDIS=./.state/redis

PRETALX_IMAGE=docker.io/pretalx/pretalx
PRETALX_TAG=latest

FQDN=localhost.local

POSTGRES_PASSWORD=
POSTGRES_USER=pretalx
POSTGRES_DB=pretalx
